.container {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  min-height: 92vh;
}

.listProducts {
  padding: 0 1rem 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.listProduct {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  flex: 1;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--gray-50);
}

.text {
  padding: 1rem;
}

.name {
  font-size: 16px;
  margin: 0.5rem 0 1rem 0;
}

.stock {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0.5rem 0;

  h4 {
    margin-right: 0.5rem;
  }
}

.price {
  h1 {
    font-weight: 400;
  } 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}